# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docview

# NuGet
*.nupkg
packages/
project.lock.json
project.nuget.cache
*.nuget.props
*.nuget.targets

# Logs
*.log

# OS
.DS_Store
Thumbs.db